{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}تنظیم رمز جدید{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 500px; margin: auto; direction: rtl;">
    <div class="card shadow p-4">
        <h3 class="text-center text-primary mb-4">تنظیم رمز عبور جدید</h3>
        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <!-- فقط label چپ‌چین شده -->
                    <label for="{{ field.id_for_label }}" class="text-left d-block">{{ field.label }}</label>
                    {{ field|add_class:"form-control ltr" }}
                </div>
            {% endfor %}
            <input type="submit"  value="تنظیم رمز جدید">
        </form>
        {% else %}
        <div class="alert alert-danger text-center mt-4" role="alert">
            <h5 class="mb-3">لینک تنظیم رمز معتبر نیست</h5>
            <p>ممکن است این لینک منقضی شده باشد یا قبلاً استفاده شده باشد.</p>
            <a href="{% url 'client_accounts:reset_password' %}" class="btn btn-outline-danger mt-3">درخواست لینک جدید</a>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}
